body {
	width: 400px;
	height: 300px;
	padding:  0px;
	margin:  0px;
}

a {
	text-decoration: underline;
	color: rgb(60,60,60);
	background-color: rgb(240,240,240);
	padding:  5px;
	display: block;
	width: 178px;
	margin: 5px;
	display: inline-block;
	font-size:  10pt;
	text-align: center;
}

#cal_links {
	background-color: rgb(250,250,250);
	width: 100%;
}