@font-face
{
	font-family: "calendarfont";
	src: url("../fonts/red-hat-inc_liberation-sans/LiberationSans-Regular.ttf");
}

@font-face
{
	font-family: "calendarfont";
	src: url("../fonts/red-hat-inc_liberation-sans/LiberationSans-Bold.ttf");
	font-weight: bold;
}

html {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}


body {
	display: block;
	overflow: hidden;
	font-family: calendarfont;/*, “helvetica neue”, helvetica, arial, sans-serif; */
	margin: 0px 8px 0px 8px;
	cursor: default;
}

#calendar {
	position: absolute;
	top: 35px;
	left: 10px;
	padding: 3px;
	border-radius: 0px;
	font-size: 15px;
	overflow: hidden;
	border: 1px solid;
}

#topbar {
	position: absolute;
	/*font-family: Helvetica, arial, serif;*/
	top: 10px;
	left: 10px;
	
	padding-top: 0px;
	padding-bottom: 5px;
	height: 30px;
	
	border: 0px solid;

	margin-bottom: -1px;
	
	text-align: center;
	font-weight: 600;
	
	z-index: 1;
}

.cal_month {
	display: block;
	vertical-align: top;
	height: 150px;
	overflow: hidden;
}

.cal_td_header {
	
	font-size: 12px;
	padding: 3px;
	border-radius: 0px;
	text-align: center;
	border: 1px solid;
	font-weight: 400;
	overflow: hidden;
	position: inherit;
}

.cal_td_dayname, .cal_td_weeknames, .cal_td_day, .cal_td_weeknumber, .cal_day_chosen, .cal_subday_chosen {
	width: 22px;
	height: 16px;
	font-size: 8pt;
	text-align: right;
	margin: 10px;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	/*font-family: 'Droid Sans Mono', arial, serif;*/
}

.cal_tr_monthname
{

}

.cal_tr_year
{
	color:  #666666;
}

.cal_td_dayname, .cal_td_weeknames {
	text-align: right;
}

.cal_td_weeknumber{
	text-align: right;
}

.cal_td_day, .cal_subday_chosen, .cal_day_chosen {
	border-width: 1px;
	width: 18px;
	overflow-x: hidden;
	border-radius: 0px;
}

.cal_day_chosen {
	/*overflow-x: hidden; */
	/*border-radius: 0px;*/
}

.cal_day_chosen:hover  {
	cursor: default;
}

.cal_td_day:hover {
	cursor: default;
	/*border: 1px solid rgb(134,108,124);*/
}

.cal_weekblock {
	display: block;
}

/**
.last, .next{
	position: absolute;
	top: 6px;
	cursor: pointer;
	z-index: 1;
}

.last {
	left: 25px;
}

.next{
	right: 25px;
}
**/

.yearlink {
	cursor: pointer;
	color: rgb(200,200,200);
	margin-left: 7px;
	margin-right: 8px;
	font-weight: normal;
}

.yearlink:hover {
	text-decoration: underline;
}

.thisyear {
	color: rgb(0,0,0);
}

.thisyearhalf {
	color:  rgba(0,0,0,0.85);
}

.thisyearthird {
	color:  rgba(0,0,0,0.7);
}

#popupProxy {
	position:  absolute;
	background-color: green;
	opacity: 0.0;
	height:  18px;
	width:  20px;
	z-index: 100;
	display:  none;
}

#dayNoteInput {
	background-color:  rgb(100,100,100);
	border: none;
	color: white;
	padding: 2px 2px 2px 4px;
	border-radius: 4px;
	width: 168px;
}

.popupButtonDate {
	color:  rgba(255,255,255,0.82);
	margin-left:  0px 3px 0px 3px;
}

#popupButtonSetMain:hover, #popupButtonSetSecondary:hover {
	cursor: pointer; 
	color:  rgb(255,255,255);
}

.popupButtonSelected {
	text-decoration: underline;
	color: white;
}

.colorButton {
	display: block;
	width: 16px;
	height: 14px;
	border: 1px solid black;
	background-color: #FFFFFF;
	border-radius: 4px;
	cursor:  pointer;
}

#dateRightInputDialog {
	color:  white;
	height:  100px;
	width:  250px;
	display:  block;
	overflow:  hidden;
	margin:  none;
	padding:  none;
	font-size: 12px;
}

.popupDiv {
	margin: none;
	display:  block;
	overflow:  hidden;
	float:  left;
	height: 22px;
	padding:  3px 0px 0px 0px;
	vertical-align:  middle;
	font-size: 12px;
	background-color:  rgba(255,0,0,0);
}

.popupDivHeader {
	font-size: 14px;
	font-weight:  bold;
}

#dayColorLabel {
	margin-top: 1px;
	display: block;
}

#dayNoteLabel {
	margin-top: 3px;
	display: block;
}

#resetColorButton {
	margin-top: 2px;
	cursor: pointer;
}

#resetNoteButton {
	margin-top: 4px;
	cursor: pointer;
}

.popupDiv1 {
	width: 25px;
}

.popupDiv2 {
	width: 50px;
}

.popupDiv3 {
	width: 75px;
}

.popupDiv4 {
	width: 100px;
}

.popupDiv5 {
	width:  125px;
}

.popupDiv6 {
	width: 150px;
}

.popupDiv7 {
	width: 175px;
}

.popupDiv8 {
	width: 200px;
}

.popupDiv9 {
	width: 225px;
}

.popupDiv10 {
	width:  250px;
}